chef
# Installs project python libraries for tests
#
# Author:: Graham Trummell <mailto:gtrummell@splunk.com>
# Copyright:: Copyright 2014 Graham Trummell
# License:: All rights reserved. Do not redistribute.

clonedigger==1.1.0
coverage==3.7.1
flake8==2.0.0
httplib2==0.8
mock==1.0.1
moto==0.2.21
paramiko=1.14.0
pep8==1.4.6
PyChef==0.2.3
pylint==1.0.0
pytest-cov==1.6.0
pytest-timeout==0.3
pytest==2.3.5
testfixtures==3.0.1
unittest2==0.5.1
